<html>
<head>
    <title>Sample app</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h1>You are calling me from {{request.remote_addr}}</h1>
  <form method="POST" action="/add">
    <input name="ip" placeholder="Router IP" required />
    <input name="user" placeholder="User" required />
    <input name="password" placeholder="password" required />
    <button type="submit">Add Router</button>
  </form>
  <h2>Routers List</h2>
  <ul>
    {% for it in items %}
      <li>
	       <a href="/router/{{ it.ip }}">{{ it.ip }}</a> - {{ it.user }} - {{ it.password }}
	<form method="POST" action="/delete" style="display:inline">
          <input type="hidden" name="id" value="{{ it._id }}" />
      		<button type="submit">Delete</button>
	</form>


      </li>
    {% endfor %}
  </ul>

</body>
</html>
